cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.6
click==8.0.1
cssselect2==0.4.1
defusedxml==0.7.1
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Pillow==8.3.2
pycparser==2.20
svgwrite==1.4.1
tinycss2==1.1.0
webencodings==0.5.1
Werkzeug==2.0.1
